* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CPN, sans-serif;
}
body { font-family: CPN, sans-serif; }
.container { width: 100%; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; } 
@media (min-width: 576px) { .container { max-width: 540px; } } 
@media (min-width: 768px) { .container { max-width: 720px; } } 
@media (min-width: 992px) { .container { max-width: 960px; } } 
@media (min-width: 1200px) { .container { max-width: 1140px; } } 
@media (min-width: 1400px) { .container { max-width: 1320px; } }

input {
    width: -webkit-fill-available;
    border: 2px solid #d5d5d7;
    transition: .3s ease;
    outline: none;
    font-size: 1.125em;
    padding: .474em .5em .36em;
    line-height: 1.4;
    border-radius: 3px;
    margin-bottom: 20px;
}
