* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CPN, sans-serif;
}
body { font-family: CPN, sans-serif; }
.container { width: 100%; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; } 
@media (min-width: 576px) { .container { max-width: 540px; } } 
@media (min-width: 768px) { .container { max-width: 720px; } } 
@media (min-width: 992px) { .container { max-width: 960px; } } 
@media (min-width: 1200px) { .container { max-width: 1140px; } } 
@media (min-width: 1400px) { .container { max-width: 1320px; } }

input {
    width: 100%;
    border: 2px solid #d5d5d7;
    transition: .3s ease;
    outline: none;
    font-size: 1.125em;
    padding: .474em .5em .36em;
    line-height: 1.4;
    border-radius: 3px;
    margin-bottom: 20px;
    height: fit-content;
}

button:hover {
    color: #fff;
    background-position: 100% 0;
}

button {
    display: inline-block;
    margin-top: 20px;
    padding: .6em .9em;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    background-image: linear-gradient(90deg, #6200ff, #ff005b 50%, #6200ff);
    background-size: 300% 100%;
    color: #fff;
    font-weight: 700;
    transition: all .4s ease-in-out;
    outline: 0;
    border: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.a-row {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 768px) {
    .row input {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .a-row input {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .action button {
        width: 50%;
    }
}

center h2 {
    font-weight: bold;
    text-align: center;
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
    margin-top: 6px;
}

@media (min-width: 768px) {
    .small {
        margin-top: 28px;
    }
}
.small {
    margin: 0;
}
.small {
    font-size: .85em;
    padding-left: 0;
}

.a-row div {
    width: calc(50% - 20px);
}

label {
    display: flex;
    width: 100%;
}

.required label > span:after {
    content: "*";
    color: #ea0c42;
    margin: 0 2px;
}

.small li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.small li i {
    margin-top: -2px;
}

i[class^=i-] {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-flex;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.i-no {
  background-image: url('/img/i/i-no.svg');
}
